@import "compass/reset";
@import "compass/typography/links/unstyled-link";
@import "compass/css3";

body{
	width:100%;
	.content{
	   margin:0 auto;
	   width:1440px;
	   height:1223px;
	   background: url("../images/bg1.png") repeat scroll 0 0 transparent;
	   position:relative;
	   #box{
	      position:absolute;
	      width:552px;
	      height:256px;
	      top:840px;
	      left:645px;
	      .pd_container{
	         position:absolute;
	         top:25px;
	         left:25px;
	         width:502px;
	         height:206px;
	         z-index: 100;
	      }
	      .pd_options_bar{
	        z-index: 1000;
	        position:absolute;
	        right:0;
	        bottom:0;
	        a{
	          width:77px;
	          height:22px;
	          line-height:22px;
	          background: url("../images/btn1_2.png") no-repeat scroll 0 0 transparent;
	          @include inline-block;
	          @include unstyled-link;
		      text-decoration:none;
		      text-align: center;
		      cursor:pointer;
		      font-size: 12px;
              font-weight: bold;
              color:#fff;
	        }
	        a.shuffle{
	          
	        }
	        a:hover{
	           background: url("../images/btn1_1.png") no-repeat scroll 0 0 transparent;
	           color:#fff;
	        }
	      }
	   }
	}
}