@import "compass/reset";
@import "compass/typography/links/unstyled-link";


body{margin:0px;
     padding:0px;
     /*font-family:"微软雅黑","宋体",Arial, Tahoma;*/
     font-size:12px; 
     color:#333333;}
.box{
	width:100%;
	padding:{
         //top:20px;
         //bottom:20px;
	}
	.title{
	    padding-left: (1/6)*3%;
		height:30px;
		line-height:30px;
		border-bottom:1px #cccccc dashed; 
		display:block;
		.tit{
		  display:block;
		  width:100px;
		  font-size:14px; 
		  float:left;
		  color:#333333;
		}
	}
	.content-box{
	     margin-top: 15px;
	     padding:{
	      //  left:20px;
	      //  right:20px;
	      }
	      ul.content{
		   width:100%;
		   li.liborder{
		      /*width:16.66%;*/
		      /*height:100px;*/
		      //border:1px solid #B8B7B7;
		      display:block;
		      float:left;
		      .p-content{
		        //padding:10px;
		        padding:3%;
		        zoom:1;
		        .img-content{
		            @include unstyled-link;
		            text-decoration:none;
		            display:block;
		            cursor:pointer;
		            //padding:15px;
		            .imgborder{
		                        background-color: #f2f2f2;
								padding:4%;
						        img{
						         width:100%;
						        }
						        position: relative;
						        zoom:1;
						        overflow:hidden;
						        ul.des{
								          _width:200%;
								          overflow:hidden;
								          height:0px;
								          display:block;
						                  position:absolute;
						                  background: url("../images/c.png") repeat scroll 0 0 transparent;
						                  
						                  _background:none;
					                      _background-color:#000;

						                  position: absolute;
									      bottom: 0;
									      left: 0;
									      right: 0px;
						                  width: inherit;
						                  li{
						                    padding:{
						                       left:15px;
						                       top: 4px;
						                    }
						                    font:{
						                     size:12px;
						                    }
						                    text-decoration:none;
						                    color:#fff;
						                    height: 15px;
					    					line-height: 15px;
						                  }
								        }		
					        		}
					    		
		            }
		            
		      }
		   }
		}
	}
	.imgbottomsqure{
    				height: 6px;
    				margin-top:8px;
    				zoom:1;
    				display: block;
                    background:url("../images/imgbottomsqure.png") repeat scroll 0 0 transparent;
                }
	/*红色*/
	.theme1 .imgbottomsqure {
	  background: none;
	  background-color: yellow;
	}

	/*黄色*/
	.theme2 .imgbottomsqure {
	  background: none;
	  background-color: #fff000;
	}

	/*橙色*/
	.theme3 .imgbottomsqure{
	  background: none;
	  background-color: #ffa800;
	}

	/*绿色*/
	.theme4 .imgbottomsqure {
	  background: none;
	  background-color: #56be60;
	}

	/*蓝色*/
	.theme5 .imgbottomsqure {
	  background: none;
	  background-color: #49c5ff;
	}

	/*紫色*/
	.theme6 .imgbottomsqure {
	  background: none;
	  background-color: #735bc3;
	}

	/*灰色*/
	.theme7 .imgbottomsqure {
	  background: none;
	  background-color: #4d4d4d;
	}                
}